# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.13
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: "Lint"
          command: yarn lint --format junit -o __reports__/junit/eslint-results.xml
      - run:
          name: "Test"
          command: yarn test --ci --runInBand --coverage --reporters default --reporters "jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: "__reports__/junit/jest-results.xml"

      - store_test_results:
          path: __reports__/junit
      - store_artifacts:
          path: __reports__/junit
